.ant-btn, a.ant-btn.ant-btn-default {
  font-weight: 600 !important;
  border-radius: 8px !important;
  height: auto !important;
  padding: 12px 20px !important;
  border: unset !important;

  &:hover {
    opacity: 0.8;
  }
  &.primary {
    @apply bg-primary text-white;
    &:hover {
      @apply bg-primary;
    }
  }
  &.secondary {
    @apply bg-secondary text-white;
    &:hover {
      @apply bg-secondary;
    }
  }
  &.third {
    @apply bg-white text-secondary ;
    &:hover {
      @apply bg-white text-secondary;
    }
  }
}
