@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~antd/dist/antd.css";
@import "react-quill/dist/quill.snow.css";
@layer base {
  body {
    @apply max-w-[1440px] mx-auto font-primary text-base font-normal;
    line-height: 1.5;
  }
  input {
    @apply outline-none;
  }
}


@layer components {
  .iconNav--active {
    svg * {
      @apply stroke-primary;
    }

  }
  .content-view{
    li{
      list-style-type: disc;
      margin-left:10px;
    }
    img{
      width:100% !important
    }
    // p:not(:has(img)) {
    //   margin:20px !important;
    //   color:red;
    // }
    & > *{
      margin:20px 0;
    }

  }
}
.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.ReactModal__Body--open {
  max-height: 100vh;
  overflow: hidden;
}
.ant-picker {
  margin: 10px !important;
  flex: 1;
  border: none !important;
  background-color: transparent !important;
  .ant-picker-focus {
    outline: none !important;
  }
}

.ant-dropdown-menu {
  max-height: 150px !important;
  overflow-y: auto;
}
.ant-menu-item-active .ant-menu-title-content {
  @apply text-primary;
}
.ant-menu {
  border: none;
}
.ql-editor {
  min-height: 200px;
}
.ql-toolbar {
  @apply bg-text4 bg-opacity-30 text-center;
}
.Toastify__toast--success .Toastify__progress-bar--success {
  @apply bg-primary;
}
.Toastify__toast--success svg {
  @apply fill-primary;
}
